
@{
    ViewData["Title"] = "Index";
}

@model AdminHomeViewModel

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Users</h4>
        <h6 class="card-subtitle mb-2 text-muted">Identity user list</h6>
        <table class="table">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model.Users)
                {
                    <tr>
                        <td>@user.UserName</td>
                        <td>@user.Email</td>
                    </tr>
                }
            </tbody>
        </table>
        <a class="card-link" asp-area="Admin" asp-controller="User" asp-action="Register">Register new user</a>
    </div>
</div>

<hr />

<div class="card">
    <div class="card-body">
        <h4 class="card-title">API Resources</h4>
        <h6 class="card-subtitle mb-2 text-muted">API resource list</h6>
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Display Name</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var api in Model.ApiResources)
                {
                    <tr>
                        <td>@api.Name</td>
                        <td>@api.DisplayName</td>
                        <td>@api.Description</td>
                    </tr>
                }
            </tbody>
        </table>
        <a class="card-link" asp-area="Admin" asp-controller="ApiResource" asp-action="Add">Add new API resource</a>
    </div>
</div>

<hr />

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Clients</h4>
        <h6 class="card-subtitle mb-2 text-muted">Client list</h6>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var client in Model.Clients)
                {
                    <tr>
                        <td>@client.ClientId</td>
                        <td>@client.Name</td>
                        <td>@client.Description</td>
                    </tr>
                }
            </tbody>
        </table>
        <a class="card-link" asp-area="Admin" asp-controller="Client" asp-action="Add">Add new JS client</a>
    </div>
</div>

